.card {
  display: block;
  position: relative;
  height: 200px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
}

.card::after {
  content: "";
  background: url(https://openmoji.org/data/color/svg/1F923.svg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.mail {
  font-size: 25px;
  text-align: center;
  word-wrap: break-word;
}

.mail p{
  padding-top:60px;
  padding-left: 10px;
  padding-right: 10px;
}

.tag {
  display: block;
  padding: 8px 14px;
  position: absolute;
  right: -14px;
  top: 20px;
  background-color: darkblue;
  color: dodgerblue;
  border-top-right-radius: 7px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.tag::after {
  display: block;
  content: "";
  height: 14px;
  width: 14px;
  position: absolute;
  background-color: dodgerblue;
  right: 0;
  bottom: -14px;
  border-bottom-right-radius: 14px;
}

.wrap {
  height: 300px;
}
