body {
  margin: 0;
  
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
.form-control{
  background-color: #663399 ;
  text-decoration-color: white;
}

code {
  font-family:'Poppins', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
